<!DOCTYPE html>

<html>

<head>
    <title>pycoin log</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id=console>
        <form>
            <a href=# id=toggle_predicting_btn><button class="btn">Predicting</button></a>
        </form>
        <form>
            <a href=# id=toggle_conservative_btn><button class="btn">Conservative</button></a>
        </form>
        <form>
            <a href=# id=restart_btn><button class='btn'>Retrain</button></a>
        </form>
        <form>
            <a href=# id=quit_btn><button class='btn'>Quit</button></a>
        </form>
    </div>
    <div id="panels-both">
        <div id="tables-and-log">
            <div id="dash">
                <h1>Current Stats</h1>
                <div id="refresh1">
                    <div id="latest_div">
                        {{ latest|safe }}
                    </div>
                </div>
            </div>
            <div id="log_container">
                <h1>Log</h1>
                <div id="refresh2">
                    <div id="log_div">
                        {{ log|safe }}
                    </div>
                </div>
            </div>
        </div>
        <div id="data">
            <div id="head-of-data">
                {{ head|safe }}
            </div>
        </div>
    </div>
    <div id="footer">
        {{ footer }}
    </div>
    <div id="build">
        Build: {{ build }}
    </div>
    <div id="feedback">
        <div id="info">
            {{ info|safe }}
        </div>
    </div>
    <script src="/static/js/handlers.js" charset="utf-8"></script>
</body>

</html>